.item {
    padding: $side-offset $middle-offset $rare-offset;
    min-width: 315px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #E2E2E2;
    max-width: 592px;
    margin-bottom: $gap;

    @media (max-width: 1284px) {
        max-width: 100%;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: $gap;
        }
    }


    &--empty {
        align-items: center;
        justify-content: center;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

.left {
    @media (max-width: 402px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.logo {
    margin-bottom: 4px;
}

.tariff {
    margin-bottom: $small-offset;
    font: $font-smaller;
    color: rgba(142, 155, 168, 0.6);
}

.title {
    font: $font-regular;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 43px;
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;

    span {
        max-width: 230px;
        max-height: 25px;
        display: flex;
        display: -webkit-box;
        overflow: hidden;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    svg {
        width: 14px;
        height: 14px;
        margin-left: 14px;
        flex-shrink: 0;
    }
}

.price {
    display: block;
    margin-bottom: 4px;
    font: $font-big;
    color: #1b1b1b;

    span {
        margin-left: 5px;
        font: $font-smaller;
    }
}

.btn {
    font: $font-smaller;
    color: rgba(142, 155, 168, 0.6);

    @media (max-width: 402px) {
        color: rgba(142, 155, 168, 0.8);
    }
}

.addBtn {
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    p {
        margin: 0;
    }
}

.itemEmpty {
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #e2e2e2;
    }

    @media (max-width: 906px) {
        min-height: 115px;
    }
}