.form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: $middle-offset;
    min-width: 384px;
    border: 1px solid $color-wild-sand;

    &:not(:last-child) {
        margin-right: $gap;
        @media (max-width: 860px) {
            margin-right: 0;
            margin-bottom: $gap;
        }
    }

    button {
        align-self: flex-start;
        @media (max-width: 1024px) {
            display: block;
        }
    }

    input {
        margin-bottom: $small-offset;
    }

    @media (max-width: 860px) {
        min-width: auto;
        width: 100%;
    }
}

.title {
    font: $font-medium;
    color: $color-shark;
    opacity: 0.6;
}


.descr {
    margin-bottom: $middle-offset;
    font: $font-smaller;
    color: #1f2326;
    opacity: 0.6;
}

.emailForm {
    input {
        margin-bottom: $middle-offset;
    }
}