.header {
    margin: 0 0 $gap;
    padding-top: $small-offset;
    padding-bottom: $small-offset;
    background-color: $color-shark;
    color: $color-white;
    font: $font-header;
    z-index: 1;
    position: relative;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .toCabinet {
        text-decoration: none;
        color: white;

        @media (max-width: 1024px) {
            display: none;
        }
    }
    
    
    .left {
        display: flex;
        justify-content: space-between;
        
        a {
            text-decoration: none;
            color: white;
        }

        span {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 1px;
                height: 24px;
                right: -$middle-offset;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.1;
                background-color: $color-white;
            }
        }
    }

    .logout {

        cursor: pointer;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

