table {
    width: 100%;
}

.btn-reset {
    @include btn-reset;
}

.list-reset {
    @include list-reset;
}

.container {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.error {
    box-shadow: 0 0 2px #ff4019;
}

img {
    max-width: 100%;
}

.input {
    padding: $small-offset $rare-offset;
    border: none;
    font: $font-light;
    background-color: $color-grey-light;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type="number"] {
        -moz-appearance: textfield;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 3px $color-accent;
    }
}

p.error {
    box-shadow: none;
    color: #eb5757!important;
    width: 100%;
}