.simCards {
    .title {
        margin: 0;
        margin-bottom: $middle-offset;
    }

    .count {
        &::after {
            content: ')';
        }
        &::before {
            content: ' (';
        }
    }
}